.container {
  padding: 0 4%;
  margin-bottom: 51px;
  margin-top: 10px;
}

.filterBackground {
  position: relative;
  display: flex;
  justify-content: center;
}
.filterBackground::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: '';
  left: 0;
  background: url('@assets/images/bg_search.png');
  z-index: -1;
}

.searchWrapper {
  display: flex;
  margin: 48px 0px;
  gap: 16px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1.5rem;
  justify-content: center;
}
.li {
  margin-bottom: 36px;
}

.resultNumber {
  color: var(--charcoal-gray);
  font-family: var(--primary-font-900);
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.38px;
}
