.wrapper {
  padding-bottom: 12.5%;
}
.container {
  padding: 3% 0;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
}
.hero::after {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  content: '';
  background: url('@assets/images/bg_search.png');
  z-index: -1;
}

.searchWrapper {
  display: flex;
  width: 100%;
  margin: 48px 0px;
  gap: 16px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 5rem;
}
.li {
  flex: 1;
  width: 100%;
  max-width: 300px;
  flex-basis: 275px;
}

.resultNumber {
  color: var(--charcoal-gray);
  font-family: var(--primary-font-900);
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.38px;
}

.noResults > h2 {
  color: var(--charcoal-gray);
  font-size: 24px;
  font-family: var(--primary-font-900);
  font-weight: 400;
  letter-spacing: 0.38px;
  margin-bottom: 10px;
}
.noResults > p {
  color: var(--charcoal-gray);
  font-size: 16px;
  font-family: var(--primary-font-400);
  font-weight: 400;
  letter-spacing: 0.38px;
  margin-bottom: 24px;
}
