.container {
  padding: 0.4rem 0.8rem;
  color: #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.name {
  display: block;
  font-size: 1.2rem;
  font-family: var(--primary-font-regular);
}

.icon {
  align-self: flex-start;
}
