.article_news_title {
  font-size: 3.6rem;
  font-weight: 400;
  font-weight: 600;
  color: var(--blush-rose);
  text-align: center;
}

.article_news {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  flex: 1;
}
.article_news_container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.article_section {
  display: flex;
  column-gap: 1rem;
  margin-top: 8%;
}
