.container {
}

.quoteIcon {
  position: absolute;
}

.text {
  display: block;
  padding-right: 2.5rem;
  font-family: var(--primary-font-thin-400);
  overflow: hidden;
  height: 100%;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem 0.8rem;
    width: unset;
  }
  .text {
  }
}
