.link {
  position: relative;
}
.container {
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  width: 300px;
}

.logo {
  height: 10rem;
  object-fit: contain;
}

.companyName {
  margin-top: 1.5rem;
  font-size: 20px;
  font-family: var(--primary-font-900);
}

.textContainer {
  flex: 1;
}
.lastAdded {
  font-size: 1.2rem;
  font-family: var(--primary-font-600);
  letter-spacing: 0.066px;
  color: var(--rose-pink);
}

.infoBox {
  color: #fff;
  font-family: var(--primary-font-600);
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--blush-rose);
  width: fit-content;
  border-radius: 4px;
  align-self: flex-end;
}
