:root {
  --bg-color: #f2f2f2;
  --cotton-candy-pink: #f9e1e7;
  --blush-rose: #cc4b65;
  --rose-pink: #d8788b;
  --pearl-white: #f6f6f6;
  --charcoal-gray: #404040;

  /*tags*/
  --plum-wine: #874778;
  --coral-blush: #dd846b;
  --midnight-blue: #514989;

  /* ... other color variables ... */
}
