@font-face {
  font-family: 'FONT_NAME_HERE-EXAMPLE-BOLD';
  font-weight: FONT_WEIGHT_HERE;
  font-display: DISPLAY_BEHAVIOR;
  src:
    local('LOCAL_FONT_NAME_HERE'),
    url('PATH_TO_FONT_FILE_HERE') format('FONT_FORMAT_HERE');
  /* ... other fonts ... */
}

:root {
  --primary-font-bold: 'Pauza Bold', sans-serif;
  --primary-font-regular: 'Pauza Regular', sans-serif;
  --primary-font-thin: 'Pauza Thin', sans-serif;
  --primary-font-medium: 'Pauza Medium', sans-serif;
}
