@font-face {
  font-family: 'Pauza 400';
  src:
    local('Pauza Regular'),
    url('@assets/fonts/Pauza Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pauza 600';
  src:
    local('Pauza Medium'),
    url('@assets/fonts/Pauza Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Pauza 700';
  src:
    local('Pauza Bold'),
    url('@assets/fonts/Pauza Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pauza 900';
  src:
    local('Pauza Black'),
    url('@assets/fonts/Pauza Black.ttf') format('truetype');
}

:root {
  --primary-font-400: 'Pauza Regular', sans-serif;
  --primary-font-600: 'Pauza Medium', sans-serif;
  --primary-font-700: 'Pauza Bold', sans-serif;
  --primary-font-900: 'Pauza Black', sans-serif;
}
