.home {
  flex: 1;
  padding-bottom: 9%;
}

.listContainer {
  margin-top: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleSectionTitle {
  font-size: 3.6rem;
  font-family: var(--primary-font-600);
  color: var(--blush-rose);
  text-align: center;
  margin: 3% 0;
}

.articleContainer {
  display: flex;
  justify-content: center;
}
