.home {
  flex: 1;
  position: relative;
}
.heroImg {
  width: 100%;
  height: 514px;
}

.heroSectionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.listContainer {
  margin-top: -2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
