.container {
  padding: 2.4rem 3.5rem;
  border-radius: 4px;
  background-color: var(--cotton-candy-pink);
  display: flex;
  align-items: center;
}
.detail {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.icon {
  max-height: 15px;
}

.lowOpacity {
  opacity: 0.5;
}

.linksContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 1.5rem;
}

.name {
  line-height: 24px;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  column-gap: 0.8rem;
  width: 300px;
  img {
    padding-top: 0.25rem;
    align-self: flex-start;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}
.phone {
  direction: ltr;
}

.hidden {
  display: none;
}

.button {
  font-size: 2rem;
  border-radius: 4px;
  background-color: var(--blush-rose);
  padding: 1.5rem 2rem;
  margin-right: 3.5rem;
  color: #fff;
  display: block;
  font-weight: 500;
  line-height: 16px; /* 80% */
  letter-spacing: 0.066px;
  font-family: 'pauza';
}

@media (max-width: 768px) {
  .name {
    font-size: 14px;
    width: 90%;
  }
}
