.container {
  display: flex;
  column-gap: 0.7rem;
  align-items: center;
  direction: ltr;
}

.text {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 16px;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 16px;
  }
}
