.heroSection {
  position: relative;
  color: #fff;
  padding: 4% 0 10% 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  row-gap: 4%;
}
.heroSection::after {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  content: '';
  left: -12.5%;
  background: url('@assets/images/bg_home.png') center/cover;
  z-index: -1;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.intro {
  display: block;
  font-size: 2rem;
  font-family: var(--primary-font-light-400);
  letter-spacing: 0.38px;
  span {
    display: block;
  }
}

.title {
  font-size: 5.5rem;
  font-family: var(--primary-font-700);
}

.subTitle {
  font-size: 3.6rem;
  text-align: center;
  font-family: var(--primary-font-600);
}

.bold {
  font-size: 2.6rem;
  font-family: var(--primary-font-700);
}
