.heroSection {
  position: absolute;
  color: #fff;
  padding: 4% 0 10% 0;
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
  row-gap: 4%;
}

.intro {
  display: block;
  font-size: 2rem;
  font-family: var(--primary-font-regular);
  letter-spacing: 0.38px;
}

.title {
  font-size: 6rem;
  font-family: var(--primary-font-bold);
}
