.hero {
  position: relative;
  color: #fff;
  padding: 4% 0 10% 0;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  row-gap: 4%;
}
.hero_content {
  width: 100%;
}
.hero::after {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: -12.5%;
  content: '';
  background: url('@assets/images/bg_home.png') no-repeat center/cover fixed;

  z-index: -1;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.titleContainer {
  width: 100%;
}
.intro {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.title {
  font-size: 5.5rem;
  white-space: pre-line;
  font-weight: 700;
}

.subTitle {
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.bold {
  font-size: 2.6rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .intro {
    line-height: 14px;
    padding: 0 20px;
  }

  .bold,
  .intro > * {
    font-family: var(--primary-font-light-400);
    font-size: 1.4rem;
    display: inline;
  }
  .hero::after {
    left: -2.5%;
  }
  .title {
    margin-bottom: 24px;
    margin-top: 10px;
    font-size: 2.4rem;
    padding: 0 20px;
  }
  .subTitle {
    display: none;
  }
  .searchBarContainer {
    flex-direction: column;
  }
  .hero {
    padding: 24px 0 120px 0;
  }
  .bold {
    font-weight: 400;
  }
}
