.container {
  padding: 30px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
}
.title {
  color: var(--white);
  text-align: right;
  font-size: 30px;
  font-family: var(--primary-font-bold);
  letter-spacing: 0.38px;
}
