.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
}
@media (max-width: 768px) {
  .header {
    padding: 10% 2.5% 2.5% 2.5%;
  }
}
