.searchedContainer {
  display: flex;
  align-items: center;
}

.searched {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.38px;
}
.searchQuery {
  font-size: 24px;
  color: var(--charcoal-gray);
  font-weight: 900;
  letter-spacing: 0.38px;
  margin-top: -6px;
  margin-right: 5px;
}
