.container {
  border-radius: 4px;
  background-color: var(--pearl-white);
  padding: 1.5rem;
  position: relative;
  height: 11.2rem;
  margin: 2rem 0;
}

.quoteIcon {
  position: absolute;
}

.text {
  display: block;
  padding-right: 2.5rem;
  line-height: 16px;
  font-size: 1.4rem;
  overflow: hidden;
  height: 100%;
  text-overflow: ellipsis;
}
