.container {
  padding: 2%;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  display: flex;
  column-gap: 3.6rem;
}

.rightSide {
  display: flex;
  flex-direction: column;
  row-gap: 3.6rem;
  width: 387px;
}
.logo {
  height: 273px;
  width: 100%;
  object-fit: cover;
}

.leftSide {
  width: 387px;
}
