.container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.content {
  height: 100%;
  flex: 1;
  padding: calc(1.5% + 10rem) 0 8.5% 0;
}
.container::after {
  height: 0;
  position: absolute;
  width: 100vw;
  right: -12.5%;
  left: -12.5%;
  height: 10rem;
  top: -10px;
  content: '';
  background: url('@assets/images/bg_productD.png') no-repeat center/cover;
}

@media (max-width: 768px) {
  .container::after {
    background: url('@assets/mobile/bg_product.png') no-repeat cover fixed;
    right: -2.5%;
  }
  .content {
    padding-bottom: 36px;
  }
}
